<EditForm Model="Person" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="name">Name</label>
        <div>
            <InputText class="form-control" @bind-Value="@Person.Name" id="name">

            </InputText>
        </div>
    </div>
    <div class="form-group">
        <label for="date">Birth Date</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Person.BirthDate" id="date">

            </InputDate>
            <ValidationMessage For="@(() => Person.BirthDate)" />
        </div>
    </div>
    <div class="form-group">
        <InputImg Label="Picture" OnSelectedImage="pictureselected" ImgURL="@imgURL"/>
    </div>
    <div class="form-group form-markdown">
        <InputMarkdown 
                       @bind-Value="Person.Biography"
                       Label="Biography"
                       For="@(()=>Person.Biography)"
                       />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter] public Person Person { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    String imgURL;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Person.Photo))
        {
            imgURL = Person.Photo;
            Person.Photo = null;
        }
    }

    private void pictureselected(string imgbase64)
    {
        Person.Photo = imgbase64;
        imgURL = null;

    }
}